<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">HTTP Response Codes</span>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'measurements.index' (query-params currentLocation="all")}}Back to Overview{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</div>


<div class="http-responses">
  {{#each location in masterLocationDataArray }}
    <div class="location">

      <h3>{{#link-to 'measurements' (query-params currentLocation=location.name)}}{{location.name}}{{/link-to}}</h3>
      <div class="history">{{nvd3-chart data=location.runningTotals.http_status showLegend=true height="150px"}}</div>
      <div class="pie">{{nvd3-donut-chart data=location.http_status showLegend=true height="150px"}}</div>

    </div>
  {{/each}}
</div>
