<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Timing</span>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'measurements.index' (query-params currentLocation="all")}}Back to Overview{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</div>


<div class="timing">
{{#each location in masterLocationDataArray }}
  <div class="location">
    <h3>{{#link-to 'measurements' (query-params currentLocation=location.name)}}{{location.name}}{{/link-to}}</h3>
    {{nvd3-chart data=location.combinedTiming showLegend=true height="150px"}}
  </div>
{{/each}}
</div>
