<h2>Welcome to Canary Watch</h2>
<p>
Select a site on the left to view stats for that site.
</p>

<h2>About</h2>

<p>
Canary Watch provides visualization for the monitoring data provided by <a href="http://canary.io">canary.io</a>.
</p>

<p>
Canary Watch is currently built and maintained by <a href="http://www.twitter.com/jagthedrummer">Jeremy Green</a>, and 
<a href="http://canary.io">canary.io</a> is a project by <a href="http://www.twitter.com/michaelgorsuch">Michael Gorsuch</a> and <a href="http://www.twitter.com/BRTindle">Brandon Tindle</a>.
</p>

<h2>Open Source</h2>

<p>
You can find the source code for <a href="https://github.com/jagthedrummer/canary-ember">Canary Watch on GitHub.</a>
</p>
<p>
Feel free to poke around to see what's going on, and plese open an issue if you spot anything that needs work.
</p>
<p>
Pull requests are welcome!
</p>
