<h2>Welcome to canary ember</h2>
<p>
Select a site on the left to view stats for that site.
</p>

<h2>About</h2>

<p>
Canary-ember provides visualization for the monitoring data provided by <a href="http://canary.io">canary.io</a>.
</p>

<p>
Canary-ember is currently built and maintained by <a href="http://www.twitter.com/jagthedrummer">Jeremy Green</a>, and 
<a href="http://canary.io">canary.io</a> is a project by <a href="http://www.twitter.com/michaelgorsuch">Michael Gorsuch</a> and <a href="http://www.twitter.com/BRTindle">Brandon Tindle</a>.
</p>

