<ul class="nav nav-tabs">
  <li>
    <a href="#" {{action setCurrentDataName 'overview'}}>All Locations</a>
  </li>
  <li>
  <!--{{!#link-to 'measurements' (query-params location="test")}}Test{{!/link-to}}-->
  </li>
  {{#each location in uniqLocations}}
    <li><a href="#" {{action setCurrentDataName location}}>{{location}}</a></li>
  {{/each}}
</ul>
