<ul class="nav nav-tabs">
  <li>
    {{#link-to 'measurements' (query-params currentLocation="all")}}All{{/link-to}}
  </li>
  <li>
  </li>
  {{#each location in uniqLocations}}
    <li>
    {{#link-to 'measurements' (query-params currentLocation=location)}}{{location}}{{/link-to}}
    </li>
  {{/each}}
</ul>
